<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/teams" method="POST">
          <input type="url" name="teamLogo"placeholder="team logo"/><br>
          <input type="text" name="name"placeholder="team name"/><br>
         <input type="text" name="rings"  placeholder="rings"/><br>
         <input type="text" name="bestPlayer" placeholder="best player"/><br>
          <input type="submit" value="create new Team" /><br>
          <a href="/teams/"><button>Back to Main</button></a>
        </form>
      </div>
    </main>
  </body>
</html>