<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

    <%- include("./partials/header.ejs") %>
    <%- include("./partials/showstyle.ejs") %>

<body>
    <h1>Create A Team</h1>
    <form action="/teams" method="POST">
        <input type="text" name="name"placeholder="team name"/><br>
       <input type="text" name="rings"  placeholder="rings"/><br>
       <input type="text" name="bestPlayer" placeholder="best player"/><br>
          <input type="submit" value="Add Team"/>
  
      </form>
</body>
</html>
